body{
    margin: 0px;
    font-family: sans-serif;
    background: url('https://irp-cdn.multiscreensite.com/1d47583f/search-engine-optimization.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    overflow:scroll;
}

h1{
    font-size: xx-large;
    color: white;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 2px 2px 15px hsl(0, 100%, 100%);
    
}

img{
    height: 200px;
    width: 220px;
    border-radius: 10px;
}
p{
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

#latest_news{    
    width: 100%;
    height: 100% ;
    box-shadow: none; 
    margin-left: 0px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEuAfx-xyjNDUbhwahqeoznsvM0LOojUtZ_A&s');   
}

#image_cont{
flex-direction: row;
background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEuAfx-xyjNDUbhwahqeoznsvM0LOojUtZ_A&s');
}



